@use "variables" as *;
@use "mixins" as *;

body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    @include box-shadow;
}